<div style="height: 100%; padding: 20px" [ngClass]="[isLight? 'bg2_light': 'bg2']" class="color_text">
  <h4>Clementina DuBuque</h4>
  <div>email: Rey.Padberg@karina.biz</div>
  <ul>Address:
    <li>street: Kattie Turnpike</li>
    <li>city: Lebsackbury</li>
    <li>zipcode: 31428-2261</li>
  </ul>
  <div>phone: 024-648-3804</div>
  <div>website: ambrose.net</div>
  <ul>Company: Hoeger LLC
    <li>catchPhrase: Centralized empowering task-force</li>
    <li>bs: target end-to-end models</li>
  </ul>
</div>
